<section class="about-template">
  <section class="about-section">
    <p>
      I'm a curious and driven software developer from Austria, currently studying computer science at <a href="https://www.htl-wr.at/" target="_blank">HTL Wiener Neustadt</a>, where I focus on building a strong foundation in both theoretical and practical aspects of programming. Alongside my studies, I'm an active member of the <a href="https://robo4you.at/" target="_blank">robo4you</a> robotics club, where I enjoy working on a realtime-based ecosystem for robotics competitions.
    </p>
    <p>
      My main interests lie in writing efficient, high-performance code and understanding how things work at a deeper level. I'm particularly drawn to areas like computer graphics and parallel systems programming, including writing shaders and working with GPUs, where performance, memory management, and hardware interaction play a critical role.
    </p>
    <p>
      I've also contributed to the <a href="https://www.blender.org/" target="_blank">Blender</a> project, where I worked on bug fixes and improvements for the <a href="https://docs.blender.org/manual/en/latest/render/eevee/index.html" target="_blank">EEVEE rendering engine</a>. This experience gave me valuable insight into large-scale, real-world codebases and collaborative development. Looking ahead, I'll be joining <a href="https://www.novomatic.com/" target="_blank">NOVOMATIC AG</a> as an intern in the summer of 2026, where I'll be working on biometric systems.
    </p>
  </section>

  <section class="about-section">
    <h2>Inspiration</h2>
    <p>
      Here I list some incredible developers, writers, friends and people who inspire me in a lot of different ways. I highly recommend checking out their projects or try to connect with them. The names arent listed in any particular order and many of them are just strangers, that I admire for their work:
    </p>
    <p>
      <a href="https://fabiensanglard.net/">Fabien Sanglard</a>, <a href="https://yiningkarlli.com/">Yining Karlli</a>, <a href="https://iquilezles.org/">Inigo Quilez</a>, <a href="https://krausefx.com/">Felix Krause</a>
    </p>
  </section>

  <section class="about-section">
    <h2>The site</h2>
    <p>
       This website doesn't collect any data and serves to be an informal platform to share my ideas and creations throughout the years. Also, this is based on a custom static site generator, that doesn't require to learn web development with all its complexity.
    </p>
  </section>

  <section class="about-section">
    <h2>Contact</h2>
    <p>
      If you want to collaborate, exchange ideas, or just say hello, feel free
      to reach out.
    </p>
    <p>
      Email: <a href="mailto:hello@lukas-rennhofer.com">hello@lukas-rennhofer.com</a>
    </p>
  </section>
</section>
